// body {
//   padding: 10em 0;
//   background: linear-gradient(120deg, #7bc6cc, #be93c5);
// }
// h1 {
//   position: relative;
//   margin: 0;
//   color: #fff;
//   font-size: 64px;
//   font-family: "Montserrat", sans-serif;
//   font-weight: 400;
//   text-align: center;
// }
// h2 {
//   margin: 5em 0 1em;
//   color: #fff;
//   font-size: 30px;
//   text-align: center;
//   font-family: "Montserrat", sans-serif;
//   font-weight: 400;
// }

/* common */
.loading {
  font-size: 84px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-align: center;
  span {
    color: red;
    font-size: 5rem;
    display: inline-block;
    margin: 0 -0.05em;
  }
}
.loading05 {
  perspective: 1000px;
  span {
    transform-origin: 50% 50% -25px;
    transform-style: preserve-3d;
    animation: loading05 1.6s infinite;
    @for $i from 1 through 6 {
      &:nth-child(#{$i + 1}) {
        animation-delay: #{$i * 0.1}s;
      }
    }
  }
}
@keyframes loading05 {
  0% {
    transform: rotateX(-360deg);
  }
  70% {
    transform: rotateX(0);
  }
}
