// @import "../../../mainSCSS/scss/helpers/mixin";
.banner {
  // position: relative;
  .carousel-item img {
    width: 100%;
  }

  .carousel-caption {
    text-align: left;
    z-index: 0;
    p {
      font-size: 5rem;
      animation: slide 5s;
    }
    .p1,
    .p2,
    .p3,
    .p4 {
      line-height: 2rem;
    }
    .p2 {
      margin-left: 20%;
      font-size: 2.5rem;
    }
    .p3 {
      margin-left: 15%;
      margin-bottom: 2rem;
    }
    .p4 {
      margin-left: 10%;
    }
    h4 {
      //   font-size: 2rem;
      margin-left: 3rem;
      margin-bottom: 3rem;
      animation: slide 10s;
      color: blanchedalmond;
    }
  }
}

@keyframes slide {
  from {
    opacity: 0.3;
    transform: translateX(75%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@include respond(desktop) {
  .banner {
    .carousel-caption {
      p {
        font-size: 3rem;
        animation: slide 5s;
      }
      .p1,
      .p2,
      .p3 {
        line-height: 1rem;
      }
      .p2 {
        margin-left: 20%;
        font-size: 1.5rem;
      }
      .p3 {
        margin-left: 15%;
        margin-bottom: 1rem;
      }
    }
  }
}

@include respond(phone) {
  .banner {
    display: none;
    // .carousel-caption {
    //   p {
    //     font-size: 2.5rem;
    //     animation: slide 5s;
    //   }
    //   .p1,
    //   .p2,
    //   .p3 {
    //     line-height: 1rem;
    //   }
    //   .p2 {
    //     margin-left: 20%;
    //     font-size: 1.5rem;
    //   }
    //   .p3 {
    //     margin-left: 15%;
    //     margin-bottom: 1rem;
    //   }
    // }
  }
}
