@import "./variable";
//desktop
.navbar {
  position: fixed !important;
  z-index: 10;
  width: 100%;
  @include Flex;
  padding: 0 !important;
  background-color: rgba(255, 255, 255, 0.95);
  .navbar__logo {
    color: red;
    justify-self: start;
  }
  .btn__show {
    display: none;
  }

  .navbar__menu__center {
    display: flex;
    justify-self: center;
    .login__mobile {
      display: none;
    }
    .nav-links {
      margin-left: 1.25rem;
      color: $text;
      font-size: 14px;
      font-weight: 500;
      transition: all 0.2s;
      &:hover {
        color: $text-hover;
      }
    }
    .navbar__location__mobile {
      display: none;
    }
  }

  .navbar__menu__right {
    justify-self: end;
    font-size: 14px;
    @include Flex;
    i {
      color: $text-login;
      margin-right: 0.3rem;
      font-size: 1.3rem;
    }
    .login__desktop {
      padding-right: 0.5rem;
      border-right: solid 1px $text-login;
      .nav-links-login {
        color: $text-login;
      }
    }
    .navbar__location {
      @include Flex;
      padding: 0;
      padding-left: 0.5rem;
      .location__title {
        color: $text-login;
        border: none;
        padding: 0;
        padding-right: 1rem;
        &:focus {
          border: none;
          box-shadow: none;
        }
      }
    }
  }
}

@include respond(phone) {
  .btn__show {
    display: block !important;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    cursor: pointer;
    transition: all 4s ease;
    i {
      font-size: 1.5rem;
    }
  }
  .navbar__menu__center {
    background-color: #fff;
    position: absolute;
    flex-direction: column;
    width: 45%;
    height: 1000%;
    top: 95%;
    right: 50%;
    z-index: 5;
    opacity: 0;
    transition: all 0.2s ease;
    &.active {
      right: 0;
      opacity: 1;
      z-index: 5;
      transition: all 0.5s ease;
    }
    li {
      padding: 0.5rem 0;
    }

    .login__mobile {
      display: block !important;
      i {
        padding: 0 1rem;
      }
      a {
        color: $text;
      }
    }
    .navbar__location__mobile {
      display: block !important;
      padding: 0;
      margin-left: 1.25rem;
      .location__title {
        color: $text;
        font-weight: 500;
        border: none;
        padding: 0;
        padding-right: 1rem;
        &:focus {
          border: none;
          box-shadow: none;
        }
      }
    }
  }
  .navbar__menu__right {
    display: none !important;
  }
}
