* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.full-height {
  height: 100%;
}

a {
  text-decoration: none !important;
}
li {
  list-style-type: none;
}
@import "../scss/helpers/mixin";
@import "../scss/helpers/variable";
@import "../../HomePage/scss/components/banner";
